.creature {
   width: 150px;
   left: 0px;
    top: 0px;
    position: absolute;
}


.hawksbill_sea_turtle {  
    left: 68px;
    top: 345px;
    position: absolute;
}

.popuptext{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    visibility: hidden;
}

#pop1 {
    top: 80px;
    position: relative;    
    
}

#pop2 {
    right: 300px;
    bottom: 100px;
    position: relative;    
}

#pop3 {
    bottom: 100px;
    left: 50px;
    position: relative;
}

.stingray {
   left: 1500px;
   top: 500px;
   position: absolute;  
}

.great_white_shark {
    left: 600px;
    top: 800px;
    position: absolute;
}

#c3 {
    width: 400px;
}